<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User info</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>

    <style>
        span.error {
            color: red;
            font-style: italic;
            font-size: 12px;
        }
    </style>

    <!-- header -->
    <div th:insert="header :: header"></div>

    <div th:replace="modal :: modal"></div>

    <div class="body">
        <div class="container" style="margin-top: 50px; margin-bottom: 50px">
            <div class="row">
                <form id="form-signup"
                      class="p-5 col-md-6 offset-md-3"
                      style="background-color: #fff;  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);"
                      action="javascript:void(0);">

                    <p class="h4 text-center">User info</p>


                    <div class="form-group mt-4">
                        <label for="id">ID :</label>
                        <input type="text" name="id" id="id" class="form-control" readonly>
                    </div>

                    <div class="form-group mt-4">
                        <label for="fullname">Fullname :</label>
                        <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Fullname">
                        <span class="error"></span>
                    </div>

                    <div class="form-group mt-4">
                        <label for="email">Email :</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="E-mail" readonly>
                        <span class="error"></span>
                    </div>

                    <a id="btn-change-password" style="color: #007bff; cursor: pointer; font-size: 13px;">Change password</a>

                    <div id="password-group" class="form-group mt-4" hidden="true">
                        <label for="password">Password :</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                        <span class="error"></span>
                    </div>

                    <div id="newPassword-group" class="form-group mt-4" hidden="true">
                        <label for="newPassword">New password :</label>
                        <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New password">
                        <span class="error"></span>
                    </div>

                    <div id="reNewPassword-group" class="form-group mt-4" hidden="true">
                        <label for="reNewPassword">Comfirm new password :</label>
                        <input type="password" name="reNewPassword" id="reNewPassword" class="form-control" placeholder="Confirm new password">
                        <span class="error"></span>
                    </div>

                    <button class="btn btn-primary btn-block my-4" id="btnSubmit" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:insert="footer :: footer"></div>

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script th:src="@{/js/main.js}"></script>

    <script>
        let isChangePassword = false;

        $(document).ready(() => {
           checkLogin();
           getAccountInfo();
           validate();
        });

        $('#btnSubmit').click(function() {
            if (!$('#form-signup').valid()) return;

            const accessToken = window.localStorage.getItem('accessToken');
            const accountLocalStorage = JSON.parse(window.localStorage.getItem('account'));

            let account = {
                "email": $('#email').val(),
                "fullname": $('#fullname').val()
            };

            if (!$('#newPassword-group').attr('hidden')) {
                isChangePassword = true;
                account['password'] = $('#password').val();
                account['newPassword'] = $('#newPassword').val();
            }

            $.ajax({
                url: host + `/api/accounts/${accountLocalStorage.id}?accessToken=${accessToken}`,
                type: 'PUT',
                data: JSON.stringify(account),
                contentType: 'application/json',
                success: function (data) {

                    if (!isChangePassword)
                        changeAndShowModalValue('Thành công', 'Thay đổi thông tin tài khoản thành công', false);
                    else
                        changeAndShowModalValue('Thành công', 'Thay đổi thông tin và password thành công, mời bạn đăng nhập lại', false, "loginAgain()", 'OK');
                },
                error: function (error) {
                    changeAndShowModalValue('Lỗi', 'Có lỗi xảy ra, mời thử lại!!!', true);
                }
            });
        });

        function loginAgain() {
            window.localStorage.clear();
            window.location.href = host + '/login';
        }

        $('#btn-change-password').click(() => {
            $('#password-group').attr('hidden', !$('#password-group').attr('hidden'));
            $('#newPassword-group').attr('hidden', !$('#newPassword-group').attr('hidden'));
            $('#reNewPassword-group').attr('hidden', !$('#reNewPassword-group').attr('hidden'));
        });

        function validate() {
            $.validator.addMethod(
                "regex",
                function(value, element, regex) {
                    var check = false;
                    return this.optional(element) || regex.test(value);
                },
                "Please check your input."
            );

            $("#form-signup").validate({
                errorElement: 'span',
                rules: {
                    fullname: {
                        required: true,
                        minlength: 8,
                        maxlength: 40
                    },
                    email: {
                        required: true,
                        minlength: 8,
                        maxlength: 40,
                        regex: /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/
                    },
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 40,
                        regex: /^[a-zA-Z0-9]+/
                    },
                    newPassword: {
                        minlength: 8,
                        maxlength: 40,
                        regex: /^[a-zA-Z0-9]+/
                    },
                    reNewPassword: {
                        equalTo: "#newPassword"
                    }
                },
                messages: {
                    fullname: {
                        required: 'Please input fullname',
                        minlength: 'Minimum 8 characters required',
                        maxlength: 'Maximum 40 characters required'
                    },
                    email: {
                        required: 'Please input email',
                        minlength: 'Minimum 8 characters required',
                        maxlength: 'Maximum 40 characters required',
                        regex: 'Email must have template ^[a-zA-Z0-9._]+\\@gmail.com'
                    },
                    password: {
                        required: 'Please input password',
                        minlength: 'Minimum 8 characters required',
                        maxlength: 'Maximum 40 characters required',
                        regex: 'Password must have template ^[a-zA-Z0-9]+'
                    },
                    newPassword: {
                        minlength: 'Minimum 8 characters required',
                        maxlength: 'Maximum 40 characters required',
                        regex: 'Email must have template ^[a-zA-Z0-9]+'
                    },
                    reNewPassword: {
                        equalTo: 'Confirm new password must be the same new password'
                    }
                }
            });
        }

        function getAccountInfo() {
            $.ajax({
                url: host + '/api/token?accessToken=' + window.localStorage.getItem('accessToken'),
                type: 'GET',
                contentType: 'application/json',
                success: function (token) {
                    const account = token.account;

                    window.localStorage.setItem('account', JSON.stringify(account));

                    $('#id').val(account.id);
                    $('#fullname').val(account.fullname);
                    $('#email').val(account.email);
                },
                error: function (error) {
                    $('#nav-signin').attr("hidden", false);
                    $('#nav-signup').attr("hidden", false);

                    return false;
                }
            });
        }
    </script>
</body>
</html>