<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Biker.vn - For Biker Lover </title>

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <!-- Start Header Area -->
	<div th:insert="header :: header"></div>

	<div th:replace="modal :: modal"></div>

	 <!--================Checkout Area =================-->
	 <section class="checkout_area">
        <div class="container">
			<div class="choose-or-create-bill">
				<div class="row">
					<div class="col-md-6 offset-md-3 my-5"  style="background-color: #fff; box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07); padding: 40px 40px;">
						<div>
							<label class="font-weight-bold">Choose options:</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" id="selectChooseExistAddresses" name="customRadio" class="custom-control-input">
							<label class="custom-control-label" for="selectChooseExistAddresses">Choose exist addresses</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" id="selectCreateNewAddress" name="customRadio" class="custom-control-input">
							<label class="custom-control-label" for="selectCreateNewAddress">Create new address</label>
						</div>
						<div>
							<a class="btn btn-primary px-5 mt-4 float-right" style="color: white;" id="btnNext">Next</a>
						</div>
					</div>
				</div>
			</div>

            <div class="billing_details" style="display: none;">
				<div class="row">
					<div class="col-md-6 offset-md-3 mb-5" style="background-color: #fff; box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07); padding: 40px 40px;">
						<h2 class="text-center">Address Details</h2>
						<form class="row contact_form" action="#" method="post" novalidate="novalidate" >
							<div class="col-md-12 form-group">
								<label for="name" class=" col-form-label">Full name</label>
								<input type="text" class="form-control" id="name" placeholder="Full Name">
							</div>
							<div class="col-md-12 form-group ">
								<label for="email" class="col-form-label">Email</label>
								<input type="text" class="form-control" id="email" placeholder="Email Address">
							</div>
							<div class="col-md-12 form-group">
								<label for="phone" class="col-form-label">Phone</label>
								<input type="text" class="form-control" id="phone" placeholder="Phone number">
							</div>
							<div class="col-md-12 form-group">
								<label for="address" class="col-form-label">Address</label>
								<input type="text" class="form-control" id="address" placeholder="Address">
							</div>
						</form>
						<a class="form-control btn btn-primary" onclick="saveBillUserInfo()" style="color: white;">Complete your Information</a>
					</div>
				</div>
            </div>
        </div>
    </section>

	<!-- Footer -->
	<div th:insert="footer :: footer"></div>

	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

	<script>
		let isOrderAddressCreated = false;

		$(document).ready(() => {
			checkLogin();
			checkExistOrderAddress();
		});

		function checkExistOrderAddress() {
			$.ajax({
				url: host + '/api/order-addresses?accountId=' + window.localStorage.accountId + '&accessToken=' + window.localStorage.accessToken,
				type: 'GET',
				contentType: 'application/json',
				success: function (dataResult) {
					if (dataResult.length <= 0) {
						$('#selectChooseExistAddresses').attr('disabled', true);
						$('#selectCreateNewAddress').attr('checked', true);
						clearFormAddressDetail();
						$('.billing_details').show();
					} else {
						$('#selectChooseExistAddresses').attr('checked', true);
					}
				},
				error: function (error) {
					console.log(error);
				}
			});
		}

		function saveBillUserInfo() {
			let userInfo = {
				'fullname': $('#name').val(),
				'email': $('#email').val(),
				'phone': $('#phone').val(),
				'address': $('#address').val()
			};

			window.localStorage.setItem('userInfo', JSON.stringify(userInfo));

			const url = host + '/api/order-addresses?accessToken=' + window.localStorage.accessToken;
			const orderAddress = JSON.stringify(userInfo);

			$.ajax({
				url: url,
				type: 'POST',
				data: orderAddress,
				contentType: 'application/json',
				success: function (dataResult) {
					isOrderAddressCreated = true;
					$('#name').val('');
					$('#email').val('');
					$('#phone').val('');
					$('#address').val('');

					changeAndShowModalValue('Thành công', 'Tạo địa chỉ người nhận thành công', false);

					window.localStorage.setItem('orderAddressId', dataResult.id);
				},
				error: function (error) {
					console.log(error);
				}
			});


		}

		$('#selectChooseExistAddresses').change(() => {
			$('.billing_details').hide();
		});

		$('#selectCreateNewAddress').change(() => {
			clearFormAddressDetail();
			$('.billing_details').show();
		});

		$('#btnNext').click(() => {


			if ($('#selectCreateNewAddress').is(':checked')) {
				if (!isOrderAddressCreated) {
					changeAndShowModalValue('Lỗi', 'Chưa tồn tại địa chỉ người nhận, vui lòng tạo địa chỉ người nhận mới.', true);
					return;
				}
			}

			window.location.href = host + '/confirmation';
		});

		function clearFormAddressDetail() {
			$('#name').val('');
			$('#email').val('');
			$('#phone').val('');
			$('#address').val('');
		}
	</script>
</body>
</html>



