<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Biker.vn - For Biker Lover </title>

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
	<!-- Start Header Area -->
	<div th:insert="header :: header"></div>

	<div th:replace="modal :: modal"></div>

    <!-- Start Order Details Area -->
    <section class="order_details section_gap" style="background-color: #fff; box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07); padding: 40px 40px;">
        <div class="container">
			<h2>Order address</h2>
			<div class="row order_details_inner">
				<div class="col-md-4">
					<div class="form-group">
						<label for="name" class=" col-form-label">Choose exist address : </label>
						<select class="form-control" id="selectExistAddresses" size="6">
						</select>
					</div>

				</div>
				<div class="col-md-8">
					<form class="row contact_form">
						<div class="col-md-6 form-group">
							<label for="name" class=" col-form-label">Full name</label>
							<input type="text" class="form-control" id="name" placeholder="Full Name" readonly>
						</div>
						<div class="col-md-6 form-group ">
							<label for="email" class="col-form-label">Email</label>
							<input type="text" class="form-control" id="email" placeholder="Email Address" readonly>
						</div>
						<div class="col-md-6 form-group">
							<label for="phone" class="col-form-label">Phone</label>
							<input type="text" class="form-control" id="phone" placeholder="Phone number" readonly>
						</div>
						<div class="col-md-6 form-group">
							<label for="address" class="col-form-label">Address</label>
							<input type="text" class="form-control" id="address" placeholder="Address" readonly>
						</div>
					</form>
				</div>
			</div>
			<div class="order_details_table mb-5">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody id="products">
						</tbody>
					</table>
				</div>
				<div class="row mt-5">
					<a class="btn btn-primary offset-3 col-md-6" style="color: #fff;" id="btnCheckout">Thanh toán</a>
				</div>
			</div>
        </div>
    </section>
    <!-- End Order Details Area -->

	<!-- Footer -->
	<div th:insert="footer :: footer"></div>

	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

	<script>
		let orderAddresses = null;

		$(document).ready(() => {
			checkLogin();

			let url = host + '/api/order-addresses?accountId=' + window.localStorage.accountId + '&accessToken=' + window.localStorage.accessToken;

			$.ajax({
				url: url,
				type: 'GET',
				contentType: 'application/json',
				success: function (dataReturn) {
					orderAddresses = dataReturn;

					let optionsTemplate = '';
					let index = 1;

					for (let orderAddress of orderAddresses) {

						if (orderAddress.id == window.localStorage.getItem('orderAddressId')) {
							optionsTemplate = optionsTemplate + `<option id="order-address-${orderAddress.id}" value="${orderAddress.id}" selected>${index} - ${orderAddress.address}</option>`;
							$('#name').val(orderAddress.fullname);
							$('#email').val(orderAddress.email);
							$('#phone').val(orderAddress.phone);
							$('#address').val(orderAddress.address);
						} else {
							optionsTemplate = optionsTemplate + `<option id="order-address-${orderAddress.id}" value="${orderAddress.id}">${index} - ${orderAddress.address}</option>`;
						}
						index++;
					}

					$('#selectExistAddresses').html(optionsTemplate);

					if (window.localStorage.getItem('orderAddressId') === null | window.localStorage.getItem('orderAddressId') === undefined) {
						$('#order-address-' + orderAddresses[0].id).attr('selected', true);
						$('#name').val(orderAddresses[0].fullname);
						$('#email').val(orderAddresses[0].email);
						$('#phone').val(orderAddresses[0].phone);
						$('#address').val(orderAddresses[0].address);
					}

				},
				error: function (error) {
					console.log(error);
				}
			});

			url = 'http://localhost:8080/api/items?itemIds=';
			let items = JSON.parse(window.localStorage.getItem('items'));

			if (items) {
				for (let item of items) {
					url = url + item.id + ',';
				}

				url = url.substring(0, url.length - 1);

				$.ajax({
					url: url,
					type: 'GET',
					contentType: 'application/json',
					success: function (itemsResult) {

						let total = 0;

						for (let item of itemsResult.content) {
							itemStorage = items.find(el => {return el.id == item.id});
							total += itemStorage.quantity * item.price;
							$('#products').append(generateItem(item, itemStorage));
						}

						$('#products').append(`<tr>
							<td>
								<p>Total : </p>
							</td>
							<td></td>
							<td>
								<p>${total}</p>
							</td>
						</tr>`);
					},
					error: function (error) {
						console.log(error);
					}
				});
			}
		});

		$('#selectExistAddresses').change(() => {
			let index = $('#selectExistAddresses').children("option:selected").val();

			const orderAddress = orderAddresses.find((el) => {
				return el.id == index;
			});

			$('#name').val(orderAddress.fullname);
			$('#email').val(orderAddress.email);
			$('#phone').val(orderAddress.phone);
			$('#address').val(orderAddress.address);

		});

		function generateItem(item, itemStorage) {
			let productTemplate = `
			<tr>
				<td>
					<p>${item.name}</p>
				</td>
				<td>
					<p>x ${itemStorage.quantity}</p>
				</td>
				<td>
					<p>${itemStorage.quantity * item.price}</p>
				</td>
			</tr>`;

			return productTemplate;
		}

		$('#btnCheckout').click(() => {
			let data = {
				'orderAddressId': $('#selectExistAddresses').children("option:selected").val()
			};

			let url = host + '/api/orders?accessToken=' + window.localStorage.getItem('accessToken');
			$.ajax({
				url: url,
				type: 'POST',
				data: JSON.stringify(data),
				contentType: 'application/json',
				success: function (dataReturn) {
					console.log(dataReturn);
					checkout(dataReturn.id);
				},
				error: function (error) {
					console.log(error);
				}
			});
		});

		function checkout(orderId) {
			items = JSON.parse(window.localStorage.getItem('items'));

			let data = [];

			for (let item of items) {
				data.push({
					'itemId': item.id,
					'quantity': item.quantity,
					'orderId': orderId
				});
			}

			let url = host + '/api/order-has-item?accessToken=' + window.localStorage.getItem('accessToken');
			$.ajax({
				url: url,
				type: 'POST',
				data: JSON.stringify(data),
				contentType: 'application/json',
				success: function (dataReturn) {
					changeAndShowModalValue('Thành công', 'Đặt hàng thành công', false, 'redirectToHomePage()', 'Quay lại trang chủ');
				},
				error: function (error) {
					changeAndShowModalValue('Lỗi', 'Có lỗi xảy ra, bạn vui lòng thử lại hoặc kiểm trả số lượng hàng!!!', true);
				}
			});
		}
		
		function redirectToHomePage() {
			window.localStorage.removeItem('items');
			window.location.href = host + '/';
		}
	</script>
</body>
</html>



