<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
            </tr>
            <tr th:each="orderHasItem : ${orderHasItems}">
                <td th:text="${orderHasItem.item.id}"></td>
                <td><img th:src="${orderHasItem.item.imageURLs}"/></td>
                <td th:text="${orderHasItem.item.name}"></td>
            </tr>
        </table>
    </body>
</html>