<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Admin | Accounts</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/adminManage.css}">
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <div th:insert="admin/sidebar :: sidebar"></div>

        <!-- Page Content  -->
        <div id="content">
            <div class="container">
                <div class="search-box row mb-5">
                    <input type="text" class="form-control offset-2 col-md-8 search" id="search"/>
                </div>

                <div class="row">
                    <div class="form-group col-md-3 row">
                        <label for="size" class="col-md-4 my-auto">Size : </label>
                        <select class="form-control col-md-8 custom-select" name="size" id="size">
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4 row">
                        <label for="sort" class="col-md-3 my-auto">Sort : </label>
                        <select class="form-control col-md-9 custom-select" name="sort" id="sort">
                            <option value="id,asc">ID (ascending)</option>
                            <option value="id,desc">ID (descending)</option>
                            <option value="fullname,asc">Fullname (a-z)</option>
                            <option value="fullname,desc">Fullname (z-a)</option>
                            <option value="email,asc">Email (a-z)</option>
                            <option value="email,desc">Email (z-a)</option>
                            <option value="roleId,asc">Role (ascending)</option>
                            <option value="roleId,desc">Role (descending)</option>
                        </select>
                    </div>
                </div>

                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Fullname</th>
                                    <th scope="col">RoleId</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>

                <nav aria-label="navigation mb-5">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" id="btnPrevious"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);"><span id="currentPage"></span> / <span id="totalPages"></span></a></li>
                        <li class="page-item" id="btnNext"><a class="page-link" href="javascript:void(0);">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/adminMain.js}"></script>

    <script>
        let keyword = '';
        let currentPage = 0;
        let totalPages = 0;
        let sort = 'id,asc';
        let size = 10;

        $(document).ready(async () => {
            await checkLogin();

            const queryParams = $(location).attr('search').replace('?', '').split('&');
            let params = {};

            for (let queryParam of queryParams) {
                queryParam = queryParam.split('=');
                const key = queryParam[0];
                const value = queryParam[1];

                params[key] = value;
            }

            keyword = (params.hasOwnProperty('search')) ? params.search : '';
            page = (params.hasOwnProperty('page')) ? params.page : 0;
            size = (params.hasOwnProperty('size')) ? params.size : 20;
            sort = (params.hasOwnProperty('sort')) ? params.sort : 'id,asc';

            $('#search').val(keyword);
            $('#sort').val(sort);
            $('#size').val(size);

            searchAccounts();
        });

        $('#search').keyup(function(e){
            if(e.keyCode == 13)
            {
                keyword =  $('#search').val();
                searchAccounts();
            }
        });

        $('#btnPrevious').click(() => {
            if ($('#btnPrevious').hasClass('disabled')) return;
            currentPage = currentPage - 1;
            const keyword =  $('#search').val();

            searchAccounts();
        });

        $('#btnNext').click(() => {
            if ($('#btnNext').hasClass('disabled')) return;

            currentPage = currentPage + 1;
            const keyword =  $('#search').val();

            searchAccounts();
        });

        $('#size').change(() => {
            size = $('#size').val();
            searchAccounts();
        });

        $('#sort').change(() => {
            sort = $('#sort').val();
            searchAccounts();
        });

        function rewriteUrl() {
            const url = host + '/admin/accounts?search=' + keyword +
                '&page=' + currentPage + '&size=' + size +
                '&sort=' + sort + '&accessToken=' + window.localStorage.adminAccessToken;

            history.replaceState(history.state, $(document).title, url);
        }

        function searchAccounts() {
            const url = host + '/api/accounts?keyword=' +
                keyword + '&page=' + currentPage + '&size=' + size +
                '&sort=' + sort + '&accessToken=' + window.localStorage.adminAccessToken;

            $.ajax({
                url: url,
                type: 'GET',
                contentType: 'application/json',
                success: function (accounts) {
                    console.log(accounts);
                    generateAccounts(accounts.content);
                    $('#btnPrevious').removeClass('disabled');
                    $('#btnNext').removeClass('disabled');

                    if (accounts.first)
                        $('#btnPrevious').addClass('disabled');

                    if (accounts.last)
                        $('#btnNext').addClass('disabled');

                    currentPage = Number(accounts.number);
                    totalPages = Number(accounts.totalPages);
                    $('#currentPage').text(currentPage + 1);
                    $('#totalPages').text(totalPages + 1);

                    rewriteUrl(keyword, page, size, sort);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function deleteAccount(accountId) {
            const url = host + '/api/accounts/' + accountId + '?accessToken=' + window.localStorage.adminAccessToken;

            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json',
                success: function (accounts) {
                    console.log(accounts);
                    $('#account-' + accountId).remove();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function generateAccounts(accounts) {

            let accountsHTML = '';
            for (let account of accounts) {
                accountsHTML = accountsHTML + generateAccount(account);
            }

            $('#table-body').html(accountsHTML);
        }

        function generateAccount(account) {
            let accountTemplate = `
                    <tr id="item-${account.id}">
                        <td>
                            <h5>${account.id}</h5>
                        </td>
                        <td>
                            <h5>${account.email}</h5>
                        </td>
                        <td>
                            <h5>${account.fullname}</h5>
                        </td>
                        <td>
                            <h5>${account.roleId}</h5>
                        </td>
                        <td>
                            <a href="${host}/admin/account/${account.id}" style="color: #ffc107; font-size: 30px;"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);" onclick="deleteAccount(${account.id})" style="color: #dc3545; font-size: 30px; margin-left: 2px;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>`;

            return accountTemplate;
        }
    </script>
</body>

</html>