<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Admin | Items</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/adminManage.css}">
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <div th:insert="admin/sidebar :: sidebar"></div>

        <!-- Page Content  -->
        <div id="content">
            <div class="container">
                <div class="search-box row mb-5">
                    <input type="text" class="form-control offset-2 col-md-8 search" id="search"/>
                </div>

                <div class="row">
                    <div class="form-group col-md-3 row">
                        <label for="size" class="col-md-4 my-auto">Size : </label>
                        <select class="form-control col-md-8 custom-select" name="size" id="size">
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4 row">
                        <label for="sort" class="col-md-3 my-auto">Sort : </label>
                        <select class="form-control col-md-9 custom-select" name="sort" id="sort">
                            <option value="id,asc">ID (ascending)</option>
                            <option value="id,desc">ID (descending)</option>
                            <option value="name,asc">Name (a-z)</option>
                            <option value="name,desc">Name (z-a)</option>
                            <option value="price,asc">Price (ascending)</option>
                            <option value="price,desc">Price (descending)</option>
                            <option value="amount,asc">Amount (ascending)</option>
                            <option value="amount,desc">Amount (descending)</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <a class="btn btn-success" th:href="@{/admin/item/new}">New</a>
                    </div>
                </div>

                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>

                <nav aria-label="navigation mb-5">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" id="btnPrevious"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);"><span id="currentPage"></span> / <span id="totalPages"></span></a></li>
                        <li class="page-item" id="btnNext"><a class="page-link" href="javascript:void(0);">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/adminMain.js}"></script>

    <script>
        let keyword = '';
        let currentPage = 0;
        let totalPages = 0;
        let sort = 'id,asc';
        let size = 10;

        $(document).ready(async () => {
            await checkLogin();

            const queryParams = $(location).attr('search').replace('?', '').split('&');
            let params = {};

            for (let queryParam of queryParams) {
                queryParam = queryParam.split('=');
                const key = queryParam[0];
                const value = queryParam[1];

                params[key] = value;
            }

            keyword = (params.hasOwnProperty('search')) ? params.search : '';
            page = (params.hasOwnProperty('page')) ? params.page : 0;
            size = (params.hasOwnProperty('size')) ? params.size : 20;
            sort = (params.hasOwnProperty('sort')) ? params.sort : 'id,asc';

            $('#search').val(keyword);
            $('#sort').val(sort);
            $('#size').val(size);

            searchItems();
        });

        $('#search').keyup(function(e){
            if(e.keyCode == 13)
            {
                keyword =  $('#search').val();
                searchItems();
            }
        });

        $('#btnPrevious').click(() => {
            if ($('#btnPrevious').hasClass('disabled')) return;
            currentPage = currentPage - 1;
            const keyword =  $('#search').val();

            searchItems();
        });

        $('#btnNext').click(() => {
            if ($('#btnNext').hasClass('disabled')) return;

            currentPage = currentPage + 1;
            const keyword =  $('#search').val();

            searchItems();
        });

        $('#size').change(() => {
            size = $('#size').val();
            searchItems();
        });

        $('#sort').change(() => {
            sort = $('#sort').val();
            searchItems();
        });

        function rewriteUrl() {
            const url = host + '/admin/items?search=' + keyword + '&page=' + currentPage + '&size=' + size + '&sort=' + sort;

            history.replaceState(history.state, $(document).title, url);
        }

        function searchItems() {
            const url = host + '/api/items?keyword=' + keyword + '&page=' + currentPage + '&size=' + size + '&sort=' + sort;

            $.ajax({
                url: url,
                type: 'GET',
                contentType: 'application/json',
                success: function (items) {
                    console.log(items);
                    generateItems(items.content);
                    $('#btnPrevious').removeClass('disabled');
                    $('#btnNext').removeClass('disabled');

                    if (items.first)
                        $('#btnPrevious').addClass('disabled');

                    if (items.last)
                        $('#btnNext').addClass('disabled');

                    currentPage = Number(items.number);
                    totalPages = Number(items.totalPages);
                    $('#currentPage').text(currentPage + 1);
                    $('#totalPages').text(totalPages + 1);

                    rewriteUrl(keyword, page, size, sort);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function deleteItem(itemId) {
            const url = host + '/api/items/' + itemId + '?accessToken=' + window.localStorage.adminAccessToken;

            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json',
                success: function (items) {
                    console.log(items);
                    $('#item-' + itemId).remove();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function generateItems(items) {

            let itemsHTML = '';
            for (let item of items) {
                itemsHTML = itemsHTML + generateItem(item);
            }

            $('#table-body').html(itemsHTML);
        }

        function generateItem(item) {
            let itemTemplate = `
                    <tr id="item-${item.id}">
                        <td>
                            <h5>${item.id}</h5>
                        </td>
                        <td>
                            <h5>${item.name}</h5>
                        </td>
                        <td>
                            <h5>${item.price}</h5>
                        </td>
                        <td>
                            <h5>${item.amount}</h5>
                        </td>
                        <td>
                            <a href="${host}/admin/item/${item.id}" style="color: #ffc107; font-size: 30px;"><i class="fa fa-edit" aria-hidden="true"></i></a>
<!--                            <a href="javascript:void(0);" onclick="deleteItem(${item.id})" style="color: #dc3545; font-size: 30px; margin-left: 2px;"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
                        </td>
                    </tr>`;

            return itemTemplate;
        }
    </script>
</body>

</html>