<div class="modal" id="modal-upload" tabindex="-1" role="dialog" xmlns:th="http://www.thymeleaf.org" th:fragment="modal-upload">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="single-upload">
                    <div class="row">
                        <img class="col-6 offset-3" id="imgPreview" src="http://localhost:8081/downloadFile/no-image.png"/>
                    </div>
                    <form id="singleUploadForm" name="singleUploadForm">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="singleFileUploadInput">
                            <label class="custom-file-label" for="singleFileUploadInput">Choose file</label>
                        </div>
                    </form>

                    <div class="upload-response">
                        <div id="singleFileUploadError" hidden></div>
                        <div id="singleFileUploadSuccess" hidden>
                            <form>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="imageUploadUrl" onchange=""/>
                                    <div class="input-group-append" style="cursor: pointer;">
                                        <span class="input-group-text" id="btnCopyUrlToClipBoard">Copy to clipboard</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-upload" id="btnUpload">Upload</button>
            </div>
        </div>
    </div>

    <script>
        let btnUpload = $('#btnUpload');
        let singleFileUploadInput = $('#singleFileUploadInput');
        let singleFileUploadError = $('#singleFileUploadError');
        let singleFileUploadSuccess = $('#singleFileUploadSuccess');


        function uploadSingleFile(file) {
            let formData = new FormData();
            formData.append("file", file);

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8081/uploadFile");

            xhr.onload = function() {
                console.log(xhr.responseText);
                let response = xhr.responseText;
                if(xhr.status == 200) {
                    singleFileUploadError.attr('hidden', true);
                    $('#imageUploadUrl').val("http://localhost:8081/downloadFile/" + response);
                    singleFileUploadSuccess.attr('hidden', false);
                } else {
                    singleFileUploadSuccess.attr('hidden', true);
                    singleFileUploadError.innerHTML = "Some Error Occurred";
                    singleFileUploadError.attr('hidden', false);
                }
            };

            xhr.send(formData);
        }

        btnUpload.click((event) => {
            let files = singleFileUploadInput[0].files;
            if(files.length === 0) {
                singleFileUploadError.innerHTML = "Please select a file";
                singleFileUploadError.style.display = "block";
            }
            uploadSingleFile(files[0]);
            event.preventDefault();
        });

        $(".custom-file-input").on("change", function(event) {
            var reader = new FileReader();
            reader.onload = function()
            {
                var output = $('#imgPreview');
                output[0].src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);

            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $('#btnCopyUrlToClipBoard').click(() => {
            var copyText = document.getElementById("imageUploadUrl");
            copyText.select();
            document.execCommand("copy");
        });
    </script>
</div>