<nav id="sidebar" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
    <div class="sidebar-header">
        <a href="home.html"><img src="../../static/img/logo2.jpg"></a>
    </div>

    <ul class="list-unstyled components">
        <p>Admin Management</p>
        <li class="active">
            <a th:href="@{/admin/accounts}">Accounts</a>
        </li>
        <li>
            <a th:href="@{/admin/items}">Items</a>
        </li>
        <li>
            <a th:href="@{/admin/logout}">Logout</a>
        </li>
    </ul>
</nav>